.Dashboard {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
}
.widget-container {
    overflow: auto;
}
.widget-container:hover {
    outline: 1px solid rgba(75,192,192,1);
}
.widget-container > * {
    width: 100%;
    height: 100%;
}
