.Streak {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.streak-title {
    font-size: 18px;
}
.streak-number {
    font-size: 66px;
}
.streak-lookback {
    font-size: 24px;
}
