.Countdown {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Countdown:hover {
    outline: 1px solid rgba(75,192,192,1);
}
.countdown-title {
    font-size: 18px;
}
.countdown-number {
    font-size: 66px;
}
