.DailyProgress {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.DailyProgress:hover {
    outline: 1px solid rgba(75,192,192,1);
}
.daily-progress-title {
    font-size: 18px;
}
.daily-progress-value {
    font-size: 14px;
}
.DailyProgress svg path {
  fill: none;
  stroke-miterlimit: round;
  transition: stroke-dashoffset 850ms ease-in-out;
}
